.WeatherForecast {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.WeatherForecastTemperatureMin {
  opacity: 0.6;
}

.WeatherForecastTemperatureMax {
  margin-left: 5px;
}
