.Weather {
  margin: 25px;
}

.Properties {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 15px;
  background-color: #f1eeee;
  border-radius: 15px;
  width: 100%;
  padding: 2px;
}

.Temperature {
  font-size: 70px;
  width: 150px;
}

.Indicators {
  width: 100%;
}

.Indicators h2 {
  margin: 0;
}

.Indicators ul {
  margin: 0;
  padding: 5px 0;
}

.Indicators li,
.Properties li {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
  padding: 2px 0;
}

.Indicators li {
  text-transform: capitalize;
}

.Properties ul {
  margin: 0;
  padding: 25px 0;
}

form {
  display: block;
  margin-top: 0;
}

.SearchInput {
  background-color: #f1eeee;
  color: #7588b3;
  width: 71%;
}

.SearchButton {
  width: 18%;
  margin-left: 15px;
  background-color: #098ba1;
  color: #ffff;
}

.SearchButton,
.SearchInput {
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.CurrentWeather {
  margin-top: 25px;
}

.Units {
  font-size: 30px;
  position: relative;
  top: -30px;
}

.Icon {
  padding-top: 15px;
}

.OneDay {
  background-color: #f1eeee;
  border-radius: 15px;
  margin: 4px;
  padding: 15px;
}
