.Properties {
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
}

.Temperature {
  font-size: 75px;
  width: 170px;
}

.Indicators {
  width: 100%;
}

.Indicators h2 {
  margin: 0;
}

.Indicators ul {
  margin: 0;
  padding: 0;
}

.Indicators li,
.Properties li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Properties ul {
  margin: 20px;
}

form {
  display: block;
  margin-top: 0;
}

.SearchInput {
  background-color: #f1eeee;
  color: #7588b3;
  width: 70%;
}

.SearchButton {
  width: 105px;
  margin-left: 10px;
  background-color: #098ba1;
  color: #ffff;
}

.SearchButton,
.SearchInput {
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 5px;
}

.CurrentWeather {
  margin-top: 25px;
}

.Units {
  font-size: 25px;
  position: relative;
  top: -30px;
}

/* img {
  width: 110px;
} */
